body {
  background-image: url("https://i.imgur.com/8wJGRix.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.index {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card-body {
  height: 20rem;
  width: 20rem;
  box-shadow: 10px 10px 3px 3px rgba(0, 0, 0, 0.2);
}

.cardContainer {
  display: flex;
  justify-content: center;
}
.\31{
  background-color: #feff9c;
}
.\32{
  background-color: #7afcff;
}
.\33{
  background-color: #ff7eb9;
}
.\34{
  background-color: #E0B0FF;
}


.card-body h5{
  text-align: start;
}
.App {
  text-align: center;
}
img {
  width: 3.5rem;
  margin-top: -2rem;
}


@media only screen and (max-width: 1200px){
  /*Tablets [601px -> 1200px]*/
}
@media only screen and (max-width: 600px){
/*Big smartphones [426px -> 600px]*/
  .index {
    grid-template-columns: 1fr;
  }
  body {
    height: 100%;
  }
}
@media only screen and (max-width: 425px){
/*Small smartphones [325px -> 425px]*/
}