body {
  background-image: url("https://i.imgur.com/8wJGRix.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment:fixed;
}

.index {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.postFormField {
  background-color: #feff9c;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 25%;
  margin-right: 25%;
  row-gap: .25rem;
  column-gap: 1rem;
  margin-top: 2rem;
}

.postFormField h2, label, .postFormField input[type="submit"]{
  font-family: 'Reenie Beanie', cursive;
}
.postFormField h2{
  font-size: 50px;
  font-weight: 500;
}

.job {
  background-color: #feff9c;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 2rem;
  padding-top: 1px;
}
.job h5 {
  margin-top: 2rem;
}

.job button {
  margin: 2rem 0;
  width: 30%;
  height: 4rem;
  font-weight: bold;
}

label {
  text-align: center;
  font-size: 30px
}

.postFormField input[type="input"], .postFormField input[type="number"] {
  width: 80%;
  border: 1px solid black;
  border-radius: 5px;
  padding: .25rem;
}

.postFormField input[type="submit"]{
  width: 50%;
  height: 3rem;
  justify-self: center;
  margin: 1rem 0;
  border: none;
  border-radius: 20px;
  background-color: aquamarine;
  font-size: 30px
}

.postFormField input[type="submit"]:hover {
  background: linear-gradient(to top, #f196c5 0%, #f7dc55 100%);
}

.postFormField h2{
  margin-top: 1rem
}

.card-body {
  height: 22rem;
  width: 22rem;
  box-shadow: 10px 10px 3px 3px rgba(0, 0, 0, 0.2);
}
.cardContainer input {
  margin-top: .5rem;
  border-radius: 15px;
  border-style: none;
  background-color: rgb(252, 174, 174);
}

h4{
  font-size: 2.5rem !important;
  font-family: 'Reenie Beanie', cursive;
  margin: 0 !important;
}
.cardContainer input:hover {
  background-color: red;
}
.cardContainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.\31{
  background-color: #feff9c;
}
.\32{
  background-color: #7afcff;
}
.\33{
  background-color: #ff7eb9;
}
.\34{
  background-color: #E0B0FF;
}


.card-body h5{
  text-align: start;
}
.App {
  text-align: center;
}
img {
  width: 3.5rem;
  margin-top: -2rem;
}
.nav-link a {
  text-decoration: none !important;
  color: white !important;
}

.nav-link a:hover{
  text-decoration: underline !important;
}

.fav, .apply, .update {
  background-color: aquamarine !important;
  width: 150px !important;
}

.fav:hover, .apply:hover, .update:hover {
  background: linear-gradient(to top, #f196c5 0%, #f7dc55 100%);
}

@media only screen and (max-width: 1000px){
  /*Tablets [601px -> 1200px]*/
  .index {
    grid-template-columns: 1fr 1fr;
    
  }
  
}
@media only screen and (max-width: 600px){
/*Big smartphones [426px -> 600px]*/
  .index {
    grid-template-columns: 1fr;
    column-gap: 0;
  }
  .cardContainer {
    margin-left: -2rem;
  }
  .postFormField, .job {
    margin: 1rem;
  }


  


}
@media only screen and (max-width: 425px){
/*Small smartphones [325px -> 425px]*/
}
